*{margin: 0;padding: 0;list-style: none;text-decoration: none;}
nav a{color:white;}
.wrap{width: 1100px;height: auto;margin: 0 auto;}
.header{height: 125px;width: 100%;}
.logo{height: 90px;width: 100%;line-height: 90px;font-size: 38px;text-align: center;background: blue;color: white;}
nav{width: 100%;height: 35px;background: #9ba7f9;color: white;}
nav > ul > li{width: 130px;height: 35px;float: left;text-align: center;line-height: 30px;}
.footer{width: 100%;height: 50px;background: #4d4dff;line-height: 50px;color: white;font-size: 18px;text-align: center;}
.section{height: 600px;background: #f4f4f4;}
.tit{width: 100%;text-align: center;height: 70px;line-height: 70px;font-size: 22px;font-weight: bold;}
.in{margin-left: 15px;}
.rent_tb{
	margin: 0 auto;
	width: 700px;
	height: 150px;
}
.rent_tb th{
	padding-left:15px;
	padding-right: 15px; 
}
.table_footer{text-align: center;}
td > input{height: 100%;}
.table_cust{
	margin: 0 auto;
	width: 700px;
	height: auto;
}
.table_cust a{color:#3c72c4;font-weight: bold;}
.t_c{text-align: center;}
.t_r{text-align: right;}
.input_comm{width: 130px;}
.th_comm{width: 250px;}
.td_comm{width: 300px;}
select{width: 60px;}